.search-bar {
  padding-top: 5vh;
  padding-bottom: 1vh;
  position: relative;
  top: 0px;
}

.renderedBooks {
  margin-bottom: 5em;
}

#root {
  padding-top: 3vh;
  background-image: url(./imgs/bookshelf-vertical.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  background-color: grey;
  padding-bottom: 100%;
}

h2,
.tealOpac,
.search-label {
  background: teal;
  opacity: 0.7;
  padding: 0.3rem;
  border-radius: 3px;
}

#quote {
  background: teal;
  opacity: 0.9;
  padding: 0.3rem;
  margin-top: 7vh;
  border-radius: 3px;
  margin-bottom: 100%;
}

#ad-book-btn{
  margin-top: 10vh;
  margin-bottom: 26vh
}